<!-- USED FOR DYNAMIC SELECTION OF "Examinationstyp" -->

<template name="noCourseType">
  <!-- <option value="" disabled selected>Välj Kurstyp Först</option> -->
</template>

<template name="KvantitativOptions">
    <option value="" disabled selected>Välj Examinationstyp</option>
    <option value="Skriftligt Prov">Skriftligt Prov</option>
    <option value="Glosor">Glosor</option>
</template>

<template name="SpråkOptions">
    <option value="" disabled selected>Välj Examinationstyp</option>
    <option value="Skriftligt Prov">Skriftligt Prov</option>
    <option value="Litteraturanalys">Litteraturanalys</option>
    <option value="Muntlig Redovisning">Muntlig Redovisning</option>
    <option value="Glosor">Glosor</option>
    <option value="Uppsats">Uppsats</option>
</template>

<template name="KunskapsämneOptions">
    <option value="" disabled selected>Välj Examinationstyp</option>
    <option value="Skriftligt Prov">Skriftligt Prov</option>
    <option value="Muntlig Redovisning">Muntlig Redovisning</option>
    <option value="Glosor">Glosor</option>
    <option value="Uppsats">Uppsats</option>
</template>
