<template name="contactModal">

  <!-- Contact modal -->
  <div id="contact" class="modal">
    <div class="modal-content">
      <h5 class="center">Kontakt</h5>
      <br>
      <p class="flow-text center-align">
        Vi uppskattar all feedback ni har att ge, bra och dålig.
        <br>Ni når oss på <br>

        <br>Nummer: 070-60-02-451.
        <br>Nummer: 072-17-17-500.

        <br>Mail: studyGuideAB@gmail.com.
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-orange btn-flat">OK</a>
    </div>
  </div>

</template>
