<!--

***/
*
*   Created: 03 December 2017
*   @author Matt Bergstrom, A.K.A devmattb or Mattias Bergström.
*   Copyright 2017 Matt Bergstrom
*   Statement:
*   None of this code is to be copied or used without my (Matt Bergstroms') permission.
*
***/

-->
<template name="createAccount">

  {{>header}}
  {{>preloader}}
  {{>userAgreement}}
    <div id="coverPageDiv" class="blueGradient">

        <!-- Front Login Page -->
        <div class="col s12">
            <br><br><br><br>
            <h5 class="center-align bold white-text">SKAPA KONTO</h5>
            <br>
            <form action="/login" id="createAccountForm" class="row">

                <div class="col s12">

                    <!-- USERNAME -->

                    <div class="col s2"></div><!--DUMMY-->
                    <div class="input-field col s8">

                        <i class="prefixIcon fa fa-user-circle-o prefix"></i>
                        <input name="user" id="user" type="text" class="validate">
                        <label for="user">Användarnamn</label>

                    </div>
                    <div class="col s2"></div><!--DUMMY-->


                </div>

                <div class="col s12">

                    <!-- PASSWORD -->
                    <div class="col s2"></div><!--DUMMY-->
                    <div class="input-field col s8">

                        <i class="prefixIcon fa fa-user-secret prefix"></i>
                        <input name="pass" id="pass" type="password" class="validate">
                        <label for="pass">Lösenord</label>

                    </div>
                    <div class="col s2"></div><!--DUMMY-->
                </div>

                <div class="col s12">

                    <!-- PASSWORD2 -->
                    <div class="col s2"></div><!--DUMMY-->
                    <div class="input-field col s8">

                        <i class="prefixIcon fa fa-user-secret prefix"></i>
                        <input name="pass2" id="pass2" type="password" class="validate">
                        <label for="pass2">Upprepa Lösenord</label>

                    </div>
                    <div class="col s2"></div><!--DUMMY-->
                </div>

                <div class="col s12">

                    <!-- Email -->
                    <div class="col s2"></div><!--DUMMY-->
                    <div class="input-field col s8">

                        <i class="prefixIcon fa fa-envelope-square prefix"></i>
                        <input name="email" id="email" type="email" class="validate">
                        <label for="email">Email</label>

                    </div>
                    <div class="col s2"></div><!--DUMMY-->
                </div>

                <div class="col s12">
                    <br>
                    <div class="col s2"></div><!--DUMMY-->
                    <div class="col s8 center-align">

                        <button type="submit" role="submit" class="orange darken-1 btn"><span class="flow-text">SKAPA</span></button>

                    </div>
                    <div class="col s2"></div><!--DUMMY-->
                </div>

                <!-- Email LIST -->
                <div class="col s12">
                <p class="center-align">
                  <input type="checkbox" class="filled-in checkbox-orange" id="agreedEmailList" checked="checked" />
                  <label style="font-size:14px!important;" class="white-text" for="agreedEmailList">Jag vill bli meddelad om nyheter och erbjudanden</label>
                  <br>
                </p>
                </div>

                <div class="col s12">

                    <div class="col s2"></div><!--DUMMY-->
                    <div class="col s8 center-align">

                        <p style="font-size: 16px!important;" class="center-align white-text">
                        När du skapar ett konto accepterar du våra
                        <a class="userAgreementLink">Användarvillkor</a>
                        </p>

                    </div>
                    <div class="col s2"></div><!--DUMMY-->
                </div>

                <div class="col s12">

                    <div class="col s2"></div><!--DUMMY-->
                    <div class="col s8 center-align">

                        <p style="font-size: 16px!important;" class="center-align white-text">
                        Har du redan ett konto? <br>
                        <a>Logga In Här</a>
                        </p>

                    </div>
                    <div class="col s2"></div><!--DUMMY-->
                </div>

            </form>
        </div>

    </div>

    </template>
