<template name="keyword">
  <div class="row scale-out scale-transition keywordContainer red white-text ">
    <div class="col s4">
        <span id="keywordTxt" class="left">{{keywordValue}}           {{keywordDescription}}</span>
    </div>

    <div class="col s4 center-align">
      <span><a data-index="{{index}}" id="edit-keyword-content" class="waves-effect waves-light btn modal-trigger" href="#modal1">{{index}}</a></span>
    </div>

    <div class="col s4">
      <span class="deleteKeywordContainer right"><i data-index="{{index}}" style="font-size: 16px;" class="fa fa-times"></i></span>
    </div>

  </div>
</template>
