<!-- Modal Structure -->
<template name="keywordModal" >
  <div id="keywordModal" class="modal">
    <div class="modal-content">
      <form class="new-keyword">
        <div class="container" style="margin-top: 10%;">

          <div class="row black-text">
            <div class="col s4"></div>
            <div class="input-field col s4">
              <input class="black-text" id="keyword-value" type="text" name="keywordValue" placeholder=""/>
              <label for="msgContact" class="">Nyckelord</label>
            </div>
          </div>

          <div class="row black-text">
            <div class="input-field col s12">
              <textarea id="keyword-description" name="keywordDescription" class="materialize-textarea black-text" data-length="150"></textarea>
              <label for="msgContact" class="">Beskrivning</label>
            </div>
          </div>
          <div class="row">
            <input name="submit" id="submit-keyword-btn" class="col s12 center-align black-text modal-close green waves-effect waves-red btn-flat" type="submit" value="+" data-editing="false">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
