<!--
  NOTE: This question should ONLY appear at the end of each StudyChain.
-->
<template name="amountOfSessions">

  <h5><b> Bedöm Antal Studiesessioner För Denna Deadline: </b> </h5>

  <div class="col s2"></div><!-- DUMMY -->
  <div class="row col s8">
    <form class="col s12">

      <p class="range-field">
        <label for="question">Hur upplevde du det antal pass som schemalades för denna deadline?</label>
        <select id="question" name="courseName">
          <option value="" disabled selected>Välj Kurstyp</option>
          <option value="Matematik">Matematik</option>
          <option value="Fysik">Fysik</option>
          <option value="Biologi">Biologi</option>
          <option value="Kemi">Kemi</option>
          <option value="Teknik">Teknik</option>
          <option value="Historia">Historia</option>
          <option value="Geografi">Geografi</option>
          <option value="Religion">Religion</option>
          <option value="Samhällskunskap">Samhällskunskap</option>
          <option value="Svenska">Svenska</option>
          <option value="Engelska">Engelska</option>
          <option value="Andravalsspråk">Andravalsspråk</option>

        </select>
      </p>

    </form>
  </div>
  <div class="col s2"></div><!-- DUMMY -->

</template>
