<!--
  NOTE: This question is designed for the post-alpha phase, when we wish to implement machine learning.
-->
<template name="performance">

  <h5><b> Bedöm din egen prestation: </b> </h5>

  <div class="col s2"></div><!-- DUMMY -->
  <div class="row col s8">
    <form class="col s12">

      <p class="range-field">
        <label for="question">Hur bra tycker du att du presterade, på skala 1-10?</label>
        <input type="range" id="question" min="0" max="10" value="0"/>
      </p>

    </form>
  </div>
  <div class="col s2"></div><!-- DUMMY -->

</template>
