<template name="pauses">

  <h5><b> Bedöm Pauserna I Detta Pass: </b> </h5>
  <br><br>

  <div class="col s2"></div><!-- DUMMY -->
  <div class="row col s8">
    <form id="pauses" class="col s12">

        <label for="question">Upplevde du att det var för mycket eller för lite pauser?</label>
        <select id="question" name="question">
          <option value="" disabled selected>Välj Alternativ</option>
          <option value="Alldeles För Mycket">Alldeles För Mycket</option>
          <option value="För Mycket">För Mycket</option>
          <option value="Bra/Lagom">Bra/Lagom</option>
          <option value="För Få">För Få</option>
          <option value="Alldeles För Få">Alldeles För Få</option>
        </select>

        <button style="margin-top:20px;" id="endSession" type="submit" role="submit" class="btn waves-effect waves-light webOrange">{{btnText}}</button>
    </form>
  </div>
  <div class="col s2"></div><!-- DUMMY -->

</template>
